/* about styles */
.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:flex-start;
}

.about h3 {
  font-size: 3vh;
  color: var(--dark);
}

.intro {
font-size: 3vh;
padding: 4vh 2vh 0 2vh;
}

#about-text {
  align-items: left;
  padding: 2vh 3vh;
  display: none;
}

#hello-there{
  display: flex;
}

.smiley {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  align-self: center;
}

.arrow {
  padding: .5vh 1.5vh;
  margin-left: 1vh;
  color: #fff;
  background-color: var(--dark);
  border-radius: 50%;
  font-size: 6vh;
  color: var(--creamy);
}

.arrow:hover {
  color: var(--dark);
  background-color: var(--creamy);
}

#right {
  display: none;
}

.intro h3 {
  font-size: 7vh;
}

@media screen and (min-width: 1000px) {

  .about {
    flex-direction: row;
    gap: 8vh;
    align-self: center;
  }

  .intro {
    max-width: 80vh;
  }

  #down {
    display: none;
  }
  
  #right {
    display: inline-block;
  }

}