/* about styles */
p {
  padding: 0;
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5vh 0  0 2vh;
}

.about h3 {
  align-self: center;
  text-align: center;
  justify-self: center;
  color: var(--dark);
  font-size: 3vh;
  font-style: italic;
  max-width: 24vh;
}

#intro-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  max-height: 8vh;
  margin-top: 10vh;
}

#intro-menu button {
  opacity: 90%;
  border-radius: 100%;
  height: 35vh;
  width: 35vh;
  padding: 5vh;
  text-align: center;
  align-self: center;
  text-decoration: none;
  display: none;
  font-size: 3.5vh;
  margin: 0 5vh 5vh 5vh;
  background: var(--pop);
  color: #fff;
}

#intro-menu button:hover {
  background: var(--dark-blue-grey);
}

#intro-menu a {
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  padding: 1vh 2vh 0 2vh;
  min-height: 80vh;
  text-align: left;
}

#about-text {
  font-size: 2vh;
  margin-top: -7.5vh;
}

#about-text p {
  padding-top: 2vh;
  max-width: fit-content;
}

.avatar {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  align-self: center;
  z-index: 6666;
}

#hello-there-btn{
  display: flex;
  padding: 2vh 7vh 1vh 7vh;
  margin: 20vh 0 8vh 0;
  background: #fff;
  min-width: 50vh;
    
    --blue-grey: #ced2f0;
    --blue-grey-2: #B0BFD9;
    
    transition: 
      box-shadow 0.2s,
      transform 0.15s;
    
    box-shadow:
        -5px 10px 20px -8px var(--blue-grey-2);
    border: 3px solid var(--pop);
    border-radius: .5vh;
}

#hello-there-btn:hover, #hello-there-btn:focus {
  outline: 0;
  box-shadow:
    -5px 5px 12px -8px var(--blue-grey-2);
  
  transform: translate(1px, 1px);
}

#hello-there-btn:active {
  outline: 0;
  box-shadow:
    -5px -2px 20px -8px var(--blue-grey-2);

  transform: translate(1px, 1px);
}

.clickem {
  max-width: 10vh;
}

.arrow-btn {
  margin-top: 0;
  padding: 0;
  transform: translateY(0vh);
  align-self: baseline;
}

.arrow {
  color: #fff;
  background-color: ;
  border-radius: 50%;
  font-size: 5.5vh;
  color: var(--pop);
  padding: 1vh 0 0 4vh;
}

#right {
  display: none;
}


@media screen and (min-width: 900px) {

  .about {
    padding: 5vh 0 0 0;
  }

  #intro-menu {
    flex-direction: row;
  }

  #hello-there-btn {
    margin-top: 30vh;
  }

  #intro-menu {
    margin-top: 8vh;
  }

  .avatar {
    transform: translateY(9vh);
    max-width:35vh;
    max-height: 35vh;
  }

  #intro-menu button {
    display: flex;
  }

  #about-text p {
    max-width: 90vh;
  }

}