/* about styles */
p {
  padding: 0;
  margin: 0;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-self: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5vh 0  0 2vh;
  margin: 0 -7vh;
  max-width: 55vh;
  overflow: hidden;
}

.about h3 {
  align-self: center;
  text-align: center;
  justify-self: center;
  color: var(--dark);
  font-size: 2vh;
  font-style: italic;
  max-width: 24vh;
}

.intro-menu {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-top: 4vh;
  max-height: 8vh;
}

.intro-menu button {
  opacity: 90%;
  height: 6vh;
  width: 40vh;
  padding: 1vh 0 1vh 4vh;
  justify-content: center;
  text-decoration: none;
  font-size: 2vh;
  color: #000;
  border: 1px solid #000;
  box-shadow:
  -5px 10px 20px -8px var(--blue-grey-2);
}

.intro-menu button:nth-child(odd) {
  margin-bottom: 2vh;
}

.resume {
  margin-left: -8vh;
}

.intro-menu button:hover {
  font-style: italic;
}

.intro-menu-arrow {
  padding: 0 2vh 0 2vh;
}

.intro-menu a {
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-size: 2vh;
  padding: 1vh 2vh 0 2vh;
  min-height: 80vh;
  text-align: left;
  max-width: 60vh;
}

.hero {
  display: flex;
  flex-direction: column;
}

.silhouette {
  width: 75vh;
  height: 75vh;
  align-self: center;
  margin: -17vh 0;
  padding-bottom: 2vh;
}

.hero h2 {
  font-size: larger;
  text-align: justify;
  align-self: center;
  padding: 0 7vh 2vh 7vh;
  max-width: 55vh;
}

#about-text {
  font-size: 2vh;
  margin-top: -7.5vh;
}

#about-text p {
  padding: 2vh 7vh 0 7vh;
  max-width:fit-content;
}

.bio-btn{
  display: flex;
  padding: 1.5vh 7vh .5vh 7vh;
  margin: -3vh 0 8vh 0;
  background: #fff;
  min-width: 30vh;
    
    --blue-grey: #ced2f0;
    --blue-grey-2: #B0BFD9;
    
    transition: 
      box-shadow 0.2s,
      transform 0.15s;
    
    box-shadow:
        -5px 10px 20px -8px var(--blue-grey-2);
    /* border: 3px solid var(--pop); */
    border-radius: .5vh;
}

.bio-btn:hover, .bio-btn:focus {
  outline: 0;
  box-shadow:
    -5px 5px 12px -8px var(--blue-grey-2);
  
  transform: translate(1px, 1px);
}

.bio-btn:active {
  outline: 0;
  box-shadow:
    -5px -2px 20px -8px var(--blue-grey-2);

  transform: translate(1px, 1px);
}

.clickem {
  max-width: 6vh;
}

.arrow-btn {
  background-color: #fff;
  margin-top: 0;
  padding: 0;
  transform: translateY(0vh);
  align-self: baseline;
}

.x-icon {
  background-color: #fff;
  border-radius: 50%;
  font-size: 3.5vh;
  color: var(--pop);
  padding: 1vh 0 0 4vh;
}

#right {
  display: none;
}


@media screen and (min-width: 900px) {

  .about {
    padding: 5vh 0 0 0;
    max-width: 200vh;
    overflow: auto;
  }

  .intro-menu{
    margin-left: 5vh;
  }

  .intro-menu button {
    display: flex;
    width: 107vh;
  }

  .hero {
    flex-direction: row;
  }

  .silhouette {
    width: 90vh;
    height: 90vh;
    margin: -20vh -14vh -20vh -14vh;
  }

  .hero h2 {
    z-index: 7777;
    padding: 0 2vh 0 0;
    font-size: 1.5em;
    background: rgba( 250, 250, 250, 0.5 );
  }

  .intro {
    max-width: fit-content;
  }

  .bio-btn {
    width: 50vh;
    margin-top: .5vh;
    margin-left: 63vh;

  }

  #about-text p {
    max-width: 120vh;
    font-size: medium;
  }
}