h4, h5, h6 {
  color: var(--warm-grey);
}

.portfolio article {
  padding: 0 4vh;
}

h6 {
  font-weight: bolder;
  padding-top: 3vh;
}

.project-example {
  max-width: 40vh;
}

.extra-room {
  padding: 2vh 0;
}

.logo {
  max-width: 15vh;
}

.auditLink {
 padding: 2vh 0;
}

.emphasize {
  font-weight: bolder;
}

#project-links a {
  color: var(--pop);
}
#project-links a:hover {
  color: var(--golden-touch);
}

.paintPointWrapper {
  background: #fff;
  border: 1px dotted var(--warm-grey);
  margin: 2vh 0;
}
.paintPointsUl {
  padding-top: 2vh;
  text-align: left;
  list-style: square;
  background: #fff;
}

.paintPointsUl li {
  background: #fff;
  padding-right: 2vh;
}

.summary {
  margin-top: 5vh;
}


@media screen and (min-width: 1000px) {

  .top-container {
    display: flex;
    flex-direction: row;
  }

  .project-details article {
    padding: 5vh 15vh;
  }

  .project-example {
    max-width: 70vh;
  }

  .logo {
    max-width: 13vh;
  }

  }

@media screen and (min-width: 1500px) { 

    .project-container p, .project-container h4, .project-container h5, .project-container h6, .centerImg {
      width: 120vh;
    }

  }