h4, h5{
  color: var(--warm-grey);
}

.heading-wrapper {
  color: var(--pop);
  border: 1px solid var(--pop);
  border-radius: 5vh;
  margin: 3vh 0 1vh 0;
  width: 95vh;
}

article {
  text-align: justify;
}

.p {
  padding: 0 4vh;
}

.project-example {
  max-width: 40vh;
}

.audit-link {
  padding-bottom: 5vh;
}

.logo {
  max-width: 15vh;
}

.top-container article {
  font-style: italic;
  margin-top: 5vh;
}

.my-role {
  margin-top: 6vh;
}

.emphasize {
  font-weight: bolder;
}

#project-links a {
  color: var(--pop);
}
#project-links a:hover {
  color: var(--golden-touch);
}

.pain-point-wrapper {
  border: 1px solid var(--pop);
  margin: 2vh 0;
}
.pain-point-ul {
  padding-top: 2vh;
  text-align: left;
  list-style: square;
  background: #fff;
}

.pain-point-ul li {
  background: #fff;
  padding-right: 2vh;
}

.personas {
  padding-top: 3vh;
}

.sitemap {
  padding-top: 4vh;
}

.userflow {
  padding-bottom: 4vh;
}

.summary {
  margin-top: 5vh;
}


@media screen and (min-width: 700px) {

  .top-container {
    display: flex;
    flex-direction: row;
    justify-content: ;
    max-width: 80%;
    transform: translateX(8vh);
    border-radius: 5vh;
  }

  .top-container article {
    font-size: smaller;
    max-width: 90%;
  }

  .logo-container {
    align-self: center;
  }

  .project-details article {
    padding: 5vh 15vh;
    max-width: 130vh;
  }

  .project-example {
    max-width: 70vh;
  }

  .logo {
    max-width: 13vh;
  }

  }

@media screen and (min-width: 1500px) { 

    .project-container p, .project-container h4, .project-container h5, .project-container h6, .centerImg {
      width: 120vh;
    }

    

  }