h4{
  color: var(--warm-grey);
}

h5 {
  color: var(--pop)!important; 
}

.heading-wrapper {
  color: var(--pop);
  text-align: center;
  border: 1px solid var(--pop);
  border-radius: 5vh;
  margin: 3vh 0 1vh 0;
  width: 45vh;
}

article {
  text-align: justify;
}

.logo {
  max-width: 15vh;
}

.logo-container {
  align-self: center;
  text-align: center;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-details article {
  width: 45vh;
}

.project-details a {
  text-align: center;
}

.p {
  padding: 0 4vh;
}

.project-example {
  width: 45vh;
  padding: 5vh 0;
}

.wireframe {
  padding: 2vh;
  width: 45vh;
}

.audit-link {
  padding: 3vh 0 5vh 0;
}

.emphasize {
  font-weight: bolder;
}

#project-links a {
  color: var(--pop);
}
#project-links a:hover {
  color: var(--golden-touch);
}

.pain-point-wrapper {
  margin: 2vh 0;
  background: var(--pop);
  color: #fff;
  border-radius: 1vh;
  max-width: 50vh;
}

.pain-point-ul h6 {
  background: var(--pop);
  color: #fff;
  font-weight: bold;
}

.pain-point-ul {
  padding-top: 2vh;
  text-align: left;
  list-style: square;
  background: var(--pop);
  border-radius: 1vh;
}

.pain-point-ul li {
  font-size: small;
  border: 1px solid var(--pop);
  background: var(--pop);
  padding-right: 2vh;
  border-radius: 1vh;
}

.persona {
  margin: 1vh 3vh 3vh 1vh;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column;
  font-size: x-small;
  align-items: center;
  border-bottom: 1px solid var(--pop);
}

.persona h6 {
  font-weight: bold; 
  padding-left: 3vh;
  background: var(--pop);
  color: #fff;
}

.list-title-wrapper {
  background: var(--pop);
}

.persona-intro {
  font-size: xx-small;
  max-width: 30vh;
}

.persona-name {
  font-weight: bold;
  color: var(--pop);
}

.persona-quote {
  font-style: italic;
  color: var(--warm-grey);
  font-size: 1.5vh;
  padding-bottom: 3vh;
}

.persona-intro ul {
  list-style:none;
  transform: translateX(-3vh);
}

.persona-graphic {
  border: 1px solid var(--pop);
  margin: 1vh;
  max-width: 20vh;
}

.persona-lists {
  margin-left: 2vh;
}

.persona-lists ul{
  text-align: left;
  padding-top: 2vh;
}

.persona-lists li {
  padding: .5vh;
}

.prototypes img {
  max-width: 30vh;
  padding: 2vh;
}

.summary {
  margin-top: 5vh;
}


@media screen and (min-width: 700px) {

  .heading-wrapper {
    width: 100vh;
  }

  .project-details article {
    padding: 1vh 15vh;
    width: 130vh;
  }

  .project-example {
    width: 90vh;
  }

  .persona {
    flex-direction: row;
  }

  }

@media screen and (min-width: 1500px) { 

    .project-container p, .project-container h4, .project-container h5, .project-container h6, .centerImg {
      width: 120vh;
    }

    

  }