.dev-active {
  color: var(--golden-touch);
}

.dev-active:hover {
  color: var(--golden-toucdev-h);
}

#dev-table-of-contents {
  margin-top: -3vhdev-;
}
  
#dev-table-of-contents ul {
  list-style: none;
  font-size: 3dev-vh;
}

#dev-table-of-contents li {
  transform: translateX(-2vdev-h);
}

#dev-table-of-contents li:hover {
  color: var(--golden-touch);
}

h4, h5 {
  color: var(--warm-grey);
}

.dev-portfolio-container {
    width: 40vh;
    margin-bottom: 4vh;
  }
  
.dev-portfolio-container img {
  max-width: 35vh;
}

#dev-table-of-contents {
  text-align: left;
  width: 40vh;
}

.dev-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
  padding: 3vh 2vh 1vh 9vh;
  transform: translateX(-4vh);
}

.dev-project-container p {
  text-align:justify;
  margin-top: -6vh;
}

#dev-tech-list {
  text-align: center;
  margin-top: -7vh;
}

.dev-project-details {
  width: 110%;
}
  
#dev-project-links {
  margin-top: -1vh;
}

#dev-project-links a {
  color: var(--pop);
}
#dev-project-links a:hover {
  color: var(--golden-touch);
}

.dev-lg-format-scroll-top {
  display: none;
}

@media screen and (min-width: 1000px) {
  
  .dev-project-details {
    font-size: small;
    padding-left: 6vh;
    width: 50vh;
    height: fit-content;
  }

  .dev-project-details p {
    font-size: larger;
  }


  .dev-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

  }
  #dev-table-of-contents {
    position: fixed;
    left: 3vh;
    margin-top: 1vh;
  }

  .dev-project-container {
    margin-left: 40vh;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vh;
    gap: 3vh;
    min-height: 80vh
  }

  .dev-portfolio-container {
    width: 75vh;

  }

  .dev-project-container {
    gap: 2vh;
  }
  .dev-project-details {
    max-width: 100vh;
  }

  .dev-lg-format-scroll-top {
    margin-top: 34vh;
    display: inline-block;
  }

  .dev-mobile-scroll-top {
    display: none;
  }

}

@media screen and (min-width: 1500px) {
  .dev-project-container {
    gap: 9vh;
  }

}