/* resume styles */
.container {
  margin-top: 10vh;
}

#resume-wrapper {
  margin-bottom: 15vh;
  text-align: justify;
}

#resume-wrapper p {
  padding: 0;
  margin: 0;
}

#resume-wrapper h3, #resume-wrapper h4 {
  margin-top: 1vh;
}
#resume-wrapper h5 {
  font-size: smaller;
}

#resume-wrapper h6 {
  font-weight: bold;
}

.experience ul {
  font-family: Arial, Helvetica, sans-serif;
}

#pdf-icon {
  width: 10vh;
}
  
#download-here {
  margin-bottom: 6vh; 
  min-width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#download-here a {
  color: var(--pop);
}
#download-here a:hover {
  color: var(--golden-touch);
}

@media screen and (min-width: 700px) {

  #resume-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10vh;
      margin-left: 10vh;
    }
    
}

@media screen and (min-width: 1200px) {

  #resume-wrapper {
      margin: 0 20vh;
    }
    
}