.portfolio {
  display: flex;
  flex-direction: column;
}

.link-inner-container {
   background: #fff;
  border: 1px solid var(--pop);
  margin: 7vh 0;
  border-radius: .5vh;
  display: flex;
  flex-direction: column;
}

.link-inner-container:hover {
  font-style: italic;
}

.link-inner-container span {
  color: var(--warm-grey);
  font-size: small;
  max-width: 40vh;
  align-self: center;
}

.link-outer-container a {
color: var(--pop);
  text-decoration: none;
  max-width: 40vh;
  align-self: center;
}

.title {
  position: relative;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--pop);
  letter-spacing: 4px;
  z-index: 1;
}

/* h2 CSS animation end */

@media screen and (min-width: 900px) {

   .portfolio {
      padding-top: 10vh;
   }

}