.active {
    color: var(--golden-touch);
  }
  
  .active:hover {
    color: var(--golden-touch);
  }
    
  #table-of-contents ul {
    list-style: none;
    font-size: 3vh;
  }
  
  #table-of-contents li:hover {
    color: var(--golden-touch);
  }
  
  h4, h5 {
    color: var(--warm-grey);
  }
  
  .portfolio-container {
      display: flex;
      flex-direction: column;
    }
  
  #table-of-contents {
    text-align: left;
  }
  
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0 0 3vh;
  }
  
  .project-container p {
    text-align:justify;
    width: 40vh;
    word-wrap: break-word;
  }
  
  #project-links a {
    color: var(--pink);
  }
  #project-links a:hover {
    color: var(--golden-touch);
  }
  
  .lg-format-scroll-top {
    display: none;
  }

  .portfolio {
    padding-top: 7vh;
  }
  
  @media screen and (min-width: 500px) {
  
      #table-of-contents {
        position: fixed;
        left: 3vh;
        margin-top: 1vh;
        width: 20vh;
      }
  
      .portfolio-container {
        margin-left: -7vh;
      }
    
      .project-container p {
        font-size: larger;
        text-align: left;
        width: 60vh;
        word-wrap: break-word;
      }
  
      .lg-format-scroll-top {
        margin-top: 34vh;
        display: inline-block;
      }
  
      .mobile-scroll-top {
        display: none;
      }
    
    }
  
  @media screen and (min-width: 1000px) {
      .project-container {
        gap: 2vh;
      }
      #table-of-contents {
        width: 25vh;
      }
  
    }
  
  @media screen and (min-width: 1500px) { 
      .project-container {
        gap: 9vh;
      }
      .project-details {
        padding-top: 10vh;
      }
      .portfolio-container {
        margin-left: 10vh;
        width: fit-content;
      }
      .project-details {
        color: red;
        width: 40vh;
        text-align: center;
      }
      .project-container p {
        width: 100vh;
      }
      .portfolio-container {
        margin-left: -12vh;
      }
  
    }