/* header styles */

header {
  position: fixed;
  z-index: 8888;
  top: -3vh;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  opacity: 90%;
}

header a {
  color: #000;
  text-decoration: none;
  padding: .75vh 0;
  min-width: 10vh;
}

header a:hover {
  color: var(--pop);
}

.top h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  font-size: 2.5vh;
  font-weight: bold;
  padding-top: 4vh;
  padding-bottom: 3vh;
  margin-right: 7vh;
  padding-left: 2vh;
}

#fullscreen-nav {
  display: none;
  gap: 15vh;
  justify-content: flex-end;
  font-size: 3vh;
}

@media screen and (min-width: 700px) {
  
  header {
    flex-direction: row;
  }

  header a {
    margin-bottom: -1vh;
    padding-left: 1vh;
    margin-right: 3vh;
  }

  #fullscreen-nav {
    display: flex;
  }  

}

@media screen and (min-width: 1000px) {

  .top h1 {
    font-size: 4vh;
  }
}