/* footer styles */

footer {
    position: fixed;
    bottom: -.2vh; 
    text-align: center;
    background-color: var(--dark);
    opacity: 80%;
  }
  
  .bottom-nav {
    justify-content: space-evenly;
    font-size: 5vh;
  }
  
  .bottom-nav a {
    color: var(--pink);
  }
  .bottom-nav a:hover {
    color: var(--dark);
  }
