:root {
  --warm-grey: #807E75;
  --warm-grey-lt: #BFBDB0;
  --pop: #dd6b85;
  --golden-touch: #eda800;
  --hot-pink: #dd6b85;
  --dark: #292C33;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Proza libre', 'neue helvetica', Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

/* header styles */

header {
  position: fixed;
  top: 0;
  flex-direction: column;
  width: 100%;
  background-color: var(--dark);
  background-image: url('/src/assets/smokey.png');
  background-size: cover;
  opacity: 90%;
}

header:hover {
  background-image: url('https://media.giphy.com/media/RI42LtoMA5mxi/giphy.gif');
}

 header a {
  text-decoration: none;
  color: #fff;
  padding: .75vh 1vh;
  min-width: 10vh;
}

 header a:hover {
  color: var(--hot-pink);
}

.nav-active {
  color: var(--warm-grey);
  background-color: #fff;
  border-radius: 1vh 1vh 0 0;
}

.nav-active:hover {
  color: var(--warm-grey);
}

nav {
  align-self: center;
}

.top {
  margin-bottom: -7vh;
}

.top h1 {
  font-size: 4vh;
  font-weight: bold;
  padding-left: 3vh;
  opacity: 80%;
}
.top h1:hover {
  color: var(--hot-pink);
}

.top h2 {
  font-size: 4vh;
  font-weight: light;
  margin-left: 1vh;
  padding-left: 2vh;
  color: #fff;
  transform: translateY(-2vh);
}

.container {
  margin-top: 30vh;
}

/* footer styles */

footer {
  position: fixed;
  bottom: 0; 
  text-align: center;
  background-color: var(--dark);
  opacity: 80%;
}

.bottom-nav {
  justify-content: space-evenly;
  font-size: 5vh;
}

.bottom-nav a:hover {
  color: var(--golden-touch);
}

/* about styles */
.about {
  margin-top: 6vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.about h3 {
  text-align: left;
  font-size: 3vh;
}

.intro {
font-size: 3vh;
padding: 6vh;
}

.intro p{
  text-align: justify;
}


.smiley {
  width: 40vh;
  height: 40vh;
  margin-bottom: -9vh;
  border-radius: 50%;
  padding: 2vh;
  border: 1px double var(--dark);
}

/* portfolio styles */

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-container img {
  max-width: 40vh;
}

#table-of-contents {
  color: var(--pop);
  text-align: left;
}

#table-of-contents ul {
  list-style: lower-greek;

}

#table-of-contents li:hover {
  color: var(--golden-touch);
}
  
.project-container {
  margin-bottom: 7vh;
  max-width: 50vh;
  padding: 3vh 2vh 1vh 2vh;
  border-radius: 1vh;

}

.project-container p {
  text-align:justify;
}

#project-links {
  margin-top: -1vh;
  color: var(--pop);
}

#project-links a {
  color: var(--pop);
}
#project-links a:hover {
  color: var(--golden-touch);
}

#back-to-top {
  display: none;
}


/* contact form styles */

form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 0 2vh;
}

input {
  padding: .5vh;
  border-radius: 1vh;
  border: 1px solid var(--warm-grey);
}

textarea {
  padding: .5vh;
  border-radius: 1vh;
  border: 1px solid var(--warm-grey);
}

.contact-btn {
  padding: .5vh;
  background-color: #fff;
  border-radius: 1vh;
  border: 2px solid var(--warm-grey);
  margin-top: 2vh;
}

.contact-btn:hover {
  background-color: var(--warm-grer);
  background-image: url("https://64.media.tumblr.com/5442e442acf08a415003faae25bc5b03/tumblr_otrdwxiORG1w603yfo1_500.gifv");
  color: #fff;
}

#form-wrapper {
  margin-top: 3vh;
  margin-bottom: 20vh;
  border-radius: 1vh;
  padding: 3vh;
  max-width: 90vh;
}

/* resume styles */

#pdf-icon {
  width: 10%;
}

#download-here {
  margin-bottom: 10vh;
  padding: 8vh 1vh;  
  border-radius: 50%;
}

#download-here a {
  color: var(--pop);
}
#download-here a:hover {
  color: var(--golden-touch);
}

.skills {
  align-content: center;
}

.skills ul{
  list-style: none;
  margin-bottom: 15vh;
  padding: none;

}

@media screen and (min-width: 700px) {
  header {
    flex-direction: row;
  }

  header a {
    margin-bottom: -1vh;
    padding-left: 1vh;
    margin-right: 3vh;
  }

  header nav {
    margin-left: 30vh;
  }

  .nav-active {
    transform: translateY(6px);
  }

  .about {
    flex-direction: row;
    gap: 10vh;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: -35vh;
  }
  #table-of-contents {
    position: fixed;
    transform: translateX(-4vh);
  }

  .project-container {
    margin-left: 32vh;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #back-to-top {
    display: block;
    padding-top: 24vh;
  }

  .intro {
    max-width: 80vh;
    align-self: center;
  }

  #resume-wrapper {
    display: flex;
    justify-content: center;
  }

  #resume {
    align-self: center;
    display: flex;
    align-items: center;
    text-align: center;
  }

  #pdf-icon {
    width: 40%;
  }

  #download-here {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30vh;
  }
}