nav {
  transform: translateX(18vh);
  max-width: 20vh;
}

nav .link{

  display: flex;
  flex-direction: column;
}

nav a {
  color: var(--blue-grey);
}

nav a:hover {
  color: var(--golden-touch);
}

.nav-active {
    color: var(--dark-blue-grey);
    text-decoration: underline;
  }

  .nav-active:hover {
    color: var(--golden-touch);
  }
